@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ 
	CClientInfo info = SessionClient.GetClientInfo();
	var selection = CurrentPage.Site().Children.Where("AppearInTopMenu");
}
@{
	if (IsPost)
	{
		if (HttpContext.Current.Request["DeleteItem"]!= null)
		{
			int delGoodId = Convert.ToInt32(HttpContext.Current.Request["DeleteItem"]);
			SessionBasket.DeleteFromBasket(delGoodId);
		}
	}
}

<ul class="nav navbar-nav">

@foreach (var item in selection)
{
	<li>
	@{
		if (item.Name == "Goods")
		{
			<a href="#" class="dropdown-toggle" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-delay="0">@item.Title <span class="glyphicon glyphicon-menu-down"></span></a>
			<ul class="dropdown-menu">
				@{
					try
					{
						List<CCategory> rootCats = UltimaWebService.GetRootCategories(1);
						foreach (CCategory cat in rootCats)
						{
							<li class="sub"><a href="/Goods/@cat.CategoryId">@cat.Category</a></li>
						}
						if (!rootCats.Any())
						{
							<li class="sub">No categories</li>
						}
					}
					catch{}
				}
			</ul>
		}
		else
		{
			<a href="@item.Url">@item.Title</a>
		}
	}
	</li>
}

</ul>
@{
	decimal totalCount = 0, totalAmount = 0;
	string cartInactive = "";
	System.Collections.Generic.Dictionary<int,Decimal> basket = SessionBasket.GetBasket();
	foreach(int key in basket.Keys)
	{
		if (key > 0)
		{
			decimal itemCount = basket[key];
			totalCount += itemCount;
			totalAmount += basket[-key] * itemCount;
		}
	}
	if (totalCount == 0)
	{
		cartInactive = "inactive";
	}
} 

<ul class="nav navbar-nav navbar-right ligth-cart">
	<li class="dropdown">
		@{ Html.RenderPartial("LoginPanel"); }
	</li>
	<li class="dropdown">
		<a href="/basket" class="dropdown-toggle" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-delay="0">
		<span class="glyphicon shopping-cart "></span> MyCart &nbsp;
		<span class="badge cart-btn @cartInactive" >@totalCount</span> &nbsp;
		<span class="badge cart-btn @cartInactive" >&euro; @totalAmount </span>&nbsp;&nbsp;
		<span class="glyphicon glyphicon-menu-down"></span></a>
	  	<ul class="dropdown-menu basket-list">
		@{
			if (totalCount > 0) 
			{
				foreach (int key in basket.Keys)
				{
					if (key > 0)
					{
						var good_info = UltimaWebService.GetProductInfo(key);
						var price = UltimaWebService.GetProductPrice(key);
						<li>
							@using (Html.BeginForm())
							{
								<input type="hidden" name="DeleteItem" value="@key"/>
								<input type="submit" class="remove" value="Delete" />
							}
							<a href="/good/@key">@good_info.Name</a>
							<span class="price">&euro; @price</span>
							<span class="count">x @basket[key]</span>
						</li>
					}
				}
				<li class="last">
					<span class="price">&euro; @totalAmount</span>
					<a href="/basket">View MyCart</a>
					<div class="clear"></div>
				</li>
							
			}
			else
			{
				<li class="last">
					Cart is empty
				</li>
			}	
		}	
	  </ul>	
	</li>
</ul>		  
