@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}


@{
	if (IsPost && Request.Form["updateClientInfo"]!= null)		
	{
		try
		{
			UltimaWebService.UpdateClientInfoFromRequestParameters();
		}
		catch
		{
			<p>There was a server error, try again later</p>
		}
	}
}

@{
	CClientInfo info = SessionClient.GetClientInfo();
	if (info == null)
	{
		Response.Redirect("/cabinet");
	}
	CDocuments docs = UltimaWebService.GetDocuments();	 
}
<div class="row">
@{ Html.RenderPartial("CabinetHeader");}

<div class="table-responsive col-md-8">
@{
	string width = "col-md-8";
	string widthLabel = "col-md-4";
	var attributes = new Dictionary<string, object>();
	attributes.Add("class", "form-horizontal");
	attributes.Add("id", "updateInfoForm");
	attributes.Add("action", "");
	using (Html.BeginForm(null, null, FormMethod.Post, attributes))
	{

<fieldset>

<div class="form-group">
  <label class="@widthLabel control-label" for="firstname">First Name</label>  
  <div class="@width">
  <input id="firstname" name="firstname" type="text" placeholder="" 
	  class="form-control input-md" required="" value="@info.FirstName">
  </div>
</div>

<div class="form-group">
  <label class="@widthLabel control-label" for="lastname">Last Name</label>  
  <div class="@width">
  <input id="lastname" name="lastname" type="text" placeholder="" 
	  class="form-control input-md" required="" value="@info.LastName">
  </div>
</div>

<div class="form-group">
  <label class="@widthLabel control-label" for="phone">Phone</label>  
  <div class="@width">
  <input id="phone" name="phone" type="text" placeholder="" 
	  class="form-control input-md" value="@info.Phone">
  </div>
</div>

<div class="form-group">
  <label class="@widthLabel control-label" for="email">Email</label>  
  <div class="@width">
  <input id="email" name="email" type="text" placeholder="" 
	  class="form-control input-md" required="" value="@info.Email">
  </div>
</div>

<!--div class="form-group">
  <label class="@widthLabel control-label" for="password">Password</label>
  <div class="@width">
    <input id="password" name="password" type="password" placeholder="" class="form-control input-md" required="">
  </div>
</div-->
<div class="hr">&nbsp;</div>
<div class="form-group">
  <label class="@widthLabel control-label" for="submit"></label>
  <div class="@width">
    <button id="submit" name="updateClientInfo" class="btn btn-info">Save</button>
  </div>
</div>

</fieldset>

	}
}
	</div>