@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
@{Html.RenderPartial("Heading");}

@{
	System.Collections.Generic.Dictionary<int,Decimal> basket = SessionBasket.GetBasket();
	
	bool reserveCreated = false;
	CClientInfo info = SessionClient.GetClientInfo();
	
	if (IsPost)
	{
		try
		{
			if (HttpContext.Current.Request["DeleteItem"]!= null)
			{
				int delGoodId = Convert.ToInt32(HttpContext.Current.Request["DeleteItem"]);
				SessionBasket.DeleteFromBasket(delGoodId);
			}
			if (HttpContext.Current.Request["UpdateItem"]!= null)
			{
				int updGoodId = Convert.ToInt32(HttpContext.Current.Request["UpdateItem"]);
				decimal newQty = Convert.ToDecimal(HttpContext.Current.Request["NewQuantity"]);
				if (basket.ContainsKey(updGoodId))
				{
					SessionBasket.UpdateBasketQuantity(updGoodId, newQty, basket[-updGoodId]);
				}
			}
			if (HttpContext.Current.Request["CreateReserve"]!= null)
			{
				Server.Transfer("/OrderResult", true);
			}
		}
		catch (HttpException ex)
		{
			@Html.Raw("Server Error (" + ex.GetHttpCode() + "): " + ex.Message);
		}
	}
	
	info = SessionClient.GetClientInfo();
	
	if (!reserveCreated)
	{
		decimal total = 0;
		decimal count = 0;
		decimal deliveryCost = 0;
		
		<div class="row cart">
		  <div class="col-md-9">
			
			<table  class="table-hover" width="100%">
				<thead>
					<tr class="table-head">
						<th>Product details</th>
						<th>Qty</th>
						<th>Price</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
			@foreach(int key in basket.Keys)
			{
				
				if (key > 0)
				{
					<tr class="separator"><td colspan="4"></td></tr>
					decimal amount = basket[-key]*basket[key];
					total += amount;
					count++;
					<tr class="cart-item">
						<td scope="row">
							<div class="image"><img class="card-img" src="/goodphoto/@key" /></div>	
							<a class="name" href="/good/@key">@UltimaWebService.GetProductInfo(key, "Name")</a>
							<span class="model"><i>Model</i>: @key</span> 
						</td>
						
						<td>
						@using (Html.BeginForm())
						{
							
							<table class="input-group"><tr>
								<input type="hidden" name="UpdateItem" value="@key"/>
								<td><span class="delete"></span></td>
								<td><span class="minus"></span></td>
								<td><span class="input"><input type="text" name="NewQuantity" value="@basket[key]"/></span></td>
								<td><span class="plus"></span></td>
							</tr>	
							</table>
						}
						</td>
						<td>&euro; @basket[-key].ToString("### ### ##0")</td>
						<td>&euro; @amount.ToString("### ### ##0")</td>

					</tr>
				}
			}
					

				</tbody>
			</table>
		  </div>
		  <div class="col-md-3">
		  <div class="order-form">
			<h2>ORDER SUMMARY</h2>
			  	@{
					var grandTotal = total + deliveryCost;
				}
			  	<div class="summary">
					<span class="count"><em>@count items</em> <i>&euro;  @total.ToString("### ### ##0")</i></span>
					<span class="delivery"><em>Delivery</em> <i>&euro; @deliveryCost</i></span>
						<span class="total"><em>TOTAL</em> <i>&euro; @grandTotal.ToString("### ### ##0")</i></span>
					<span class="update"></span>
				</div>
				
				
				@if (total > 0)
				{
					var attributes = new Dictionary<string, object>();
					attributes.Add("Action", "/OrderResult");
					attributes.Add("Id", "OrderForm");

					using (Html.BeginForm(null, null, FormMethod.Post, attributes))
					{
						<input type="hidden" name="CreateReserve" value="true"/>

						if (info == null)
						{
							<div class="form-group">
								 <label>Name:</label>
								  <input required type="text" name="Name" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
							</div>

							<div class="form-group">
								 <label>Phone:</label>
								  <input required type="tel" name="Phone" class="form-control" placeholder="Phone" aria-describedby="basic-addon2">
							</div>
							<div class="form-group">
								 <label>Email:</label>
								  <input required type="email" name="Email" class="form-control" placeholder="Your Email" aria-describedby="basic-addon4">
							</div>
						}
						else
						{
							<div class="form-group">
								 <label>@info.FirstName, specify order details:</label>
							</div>
						}
						<div class="form-group">
							 <label>Address:</label>
							  <input required type="text" name="Address" class="form-control" placeholder="Address" aria-describedby="basic-addon3">
						</div>

						<!--div class="row">
							<div class="input-group col-md-4">
							  <span class="input-group-addon" id="basic-addon5">Password:</span>
							  <input type="password" name="Password" class="form-control" aria-describedby="basic-addon5">
							</div>
						</div>
						<br-->
					}
				}
			</div>
			@if (total > 0)
			{
				<input type="submit" class="place-order" value="PLACE ORDER" />
			}
		  </div>
		</div>
		
		
		
		
	
		
	}
}