@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
@{Html.RenderPartial("Heading");}

@{
	System.Collections.Generic.Dictionary<int,Decimal> basket = SessionBasket.GetBasket();
	
	bool reserveCreated = false;
	CClientInfo info = SessionClient.GetClientInfo();
	bool addressStage = false;

		decimal total = 0;
		decimal count = 0;
		decimal deliveryCost = 0;
			@foreach(int key in basket.Keys)
			{
				
				if (key > 0)
				{
					decimal amount = basket[-key]*basket[key];
					total += amount;
					count++;
				}
			}
		<div class="row cart">
		  <div class="col-md-9">
			
			@RenderBody()
		  </div>
		  <div class="col-md-3">
		  <div class="order-form">
			<h2>ORDER SUMMARY</h2>
			  	@{
					var grandTotal = total + deliveryCost;
				}
			  	<div class="summary">
					<span class="count"><em>@count items</em> <i>&euro;  @total.ToString("### ### ##0")</i></span>
					<span class="delivery"><em>Delivery</em> <i>&euro; @deliveryCost</i></span>
						<span class="total"><em>TOTAL</em> <i>&euro; @grandTotal.ToString("### ### ##0")</i></span>
					<span class="update"></span>
				</div>
				
				
				@if (total > 0)
				{
					var attributes = new Dictionary<string, object>();
					//attributes.Add("Action", "/OrderResult");
attributes.Add("Action", "/basket");
					attributes.Add("Id", "OrderForm");

					using (Html.BeginForm(null, null, FormMethod.Post, attributes))
					{
						<input type="hidden" name="SelectAddress" value="true"/>

						if (info == null)
						{
							<div class="form-group">
								 <label>Name:</label>
								  <input required type="text" name="Name" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
							</div>

							<div class="form-group">
								 <label>Phone:</label>
								  <input required type="tel" name="Phone" class="form-control" placeholder="Phone" aria-describedby="basic-addon2">
							</div>
							<div class="form-group">
								 <label>Email:</label>
								  <input required type="email" name="Email" class="form-control" placeholder="Your Email" aria-describedby="basic-addon4">
							</div>
						}
						else
						{
							<div class="form-group">
								 <label>@info.FirstName, specify order details:</label>
							</div>
						}
						<div class="form-group">
							 <label>Address:</label>
							  <input required type="text" name="Address" class="form-control" placeholder="Address" aria-describedby="basic-addon3">
						</div>

						<!--div class="row">
							<div class="input-group col-md-4">
							  <span class="input-group-addon" id="basic-addon5">Password:</span>
							  <input type="password" name="Password" class="form-control" aria-describedby="basic-addon5">
							</div>
						</div>
						<br-->
					}
				}
			</div>
			@if (total > 0)
			{
				<input type="submit" class="place-order" value="PLACE ORDER" />
			}
		  </div>
		</div>
		
}