@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}


@{
	var problem = false;
	var problemMessage = string.Empty;
				
	if (IsPost && Request.Form["updatePassword"]!= null)		
	{
		try
		{
				string oldpwd = Request["oldpassword"];
				string pwd = Request["password"];
				string pwdrepeat = Request["passwordrepeat"];
				
				if (pwd != pwdrepeat)
				{
					problem = true;
					problemMessage = "new password doesn't match";
				}
				else
				{
					if (!UltimaWebService.ChangeClientPassword(oldpwd, pwd))
					{
							problem = true;
							problemMessage = "can't update password";
					}
					else
					{
						problem = true;
							problemMessage = "<p>Password Updated!</p>";
					}
				}
		}
		catch
		{
			<p>There was a server error, try again later</p>
		}
	}
}

@{
	CClientInfo info = SessionClient.GetClientInfo();
	if (info == null)
	{
		Response.Redirect("/cabinet");
	}
	CDocuments docs = UltimaWebService.GetDocuments();	 
}
<div class="row">
@{ Html.RenderPartial("CabinetHeader");}

<div class="table-responsive col-md-8">
@{
	string width = "col-md-8";
	string widthLabel = "col-md-4";
	var attributes = new Dictionary<string, object>();
	attributes.Add("class", "form-horizontal");
	attributes.Add("id", "updateInfoForm");
	attributes.Add("action", "");
	using (Html.BeginForm(null, null, FormMethod.Post, attributes))
	{

<fieldset>

<div class="form-group">
  <label class="@widthLabel control-label" for="oldpassword">Old Password</label>
  <div class="@width">
    <input id="oldpassword" name="oldpassword" type="oldpassword" placeholder="" class="form-control input-md" >
  </div>
</div>

<div class="form-group">
  <label class="@widthLabel control-label" for="password">New Password</label>
  <div class="@width">
    <input id="password" name="password" type="password" placeholder="" class="form-control input-md" required="">
  </div>
</div>

<div class="form-group">
  <label class="@widthLabel control-label" for="passwordrepeat">New Password Repeat</label>
  <div class="@width">
    <input id="passwordrepeat" name="passwordrepeat" type="password" placeholder="" class="form-control input-md" required="">
  </div>
</div>

	@{if (problem)
			{
				<div class="form-group">
				  <label class="col-md-4"></label>
				  <div class="col-md-4">
					<span data-form="" >@problemMessage</span>
				  </div>
				</div>
			}
		}

<div class="hr">&nbsp;</div>
<div class="form-group">
  <label class="@widthLabel control-label" for="submit"></label>
  <div class="@width">
    <button id="submit" name="updatePassword" class="btn btn-info">Save</button>
  </div>
</div>

</fieldset>

	}
}
	</div>