@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@{
	if (IsPost && Request.Form["confirmPasswordChange"]!= null)
	{
		string pwd = Request.Form["password"];
		string pwdRepeat = Request.Form["passwordRepeat"];
		string h = Request.Form["hash"];
		string s = Request.Form["sessid"];
		if (pwd != pwdRepeat)
		{
			<p>Passwords do not match!</p>
		}
		else
		{
			if (UltimaWebService.ConfirmClientPasswordChangeRequest(h, pwd, s))
			{
				<p>Password changed!</p>
			}
else{
<p>Password not changed!</p>
}
		}
	}
}

@{
	string width = "col-md-4";
	string widthLabel = "col-md-4";
	string hash = HttpContext.Current.Request.QueryString["h"];
	string sessid = HttpContext.Current.Request.QueryString["s"];
	var attributes = new Dictionary<string, object>();
	attributes.Add("class", "form-horizontal");
	attributes.Add("id", "confirmPasswordChangeForm");
	attributes.Add("action", "");
	using (Html.BeginForm(null, null, FormMethod.Post, attributes))
	{
		<input type="hidden" name="hash" value="@hash"/>
		<input type="hidden" name="sessid" value="@sessid"/>
		<fieldset>
		<div class="form-group">
		  <label class="@widthLabel control-label" for="password">New Password</label>
		  <div class="@width">
			<input id="password" name="password" type="password" placeholder="" class="form-control input-md" required="">
		  </div>
		</div>
		
		<div class="form-group">
		  <label class="@widthLabel control-label" for="passwordRepeat">Repeat Password</label>
		  <div class="@width">
			<input id="passwordRepeat" name="passwordRepeat" type="password" placeholder="" class="form-control input-md" required="">
		  </div>
		</div>

		<div class="form-group">
		  <label class="@widthLabel control-label" for="submit"></label>
		  <div class="@width">
			<button id="submit" name="confirmPasswordChange" class="btn btn-info">Change</button>
		  </div>
		</div>

		</fieldset>
	}
}