@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@{
	string currentCategory = "";
	CCategory ccat = (CCategory)ViewData["category"];
	if (ccat != null)
	{
		currentCategory = " \\ " + ccat.Category;
	}
}
<h1>@CurrentPage.Title @currentCategory</h1>

@{ Html.RenderPartial("BreadCrumbs"); }

	
<div>@CurrentPage.Body</div>

@{ Html.RenderPartial("SearchBox"); }

@{

	System.Diagnostics.Stopwatch sw = System.Diagnostics.Stopwatch.StartNew();
	
	if (IsPost && Request.Form["submitAdd"] != null &&  HttpContext.Current.Request["GoodID"]!= null)
	{
		int gID = Convert.ToInt32(HttpContext.Current.Request["GoodID"]);
		SessionBasket.AddToBasket(gID, 
							Convert.ToDecimal(HttpContext.Current.Request["AddQuantity"], System.Globalization.CultureInfo.CurrentCulture), 
							UltimaWebService.GetProductPrice(gID));
		Response.Redirect("/basket");
	}
	
	
	
	
	<p>Before GetCatalog @sw.ElapsedMilliseconds.ToString()</p>
	
	
	int pageNo = Request.QueryString["pageNo"] == null? 1 : Convert.ToInt32(Request.QueryString["pageNo"]);
	int pageSize = 20;
	int? categoryId = (int)ViewData["CategoryID"];
	string sortFld = SortField.Price;
	string sortOrd = SortOrder.Asc;
	string avail = Availability.Outofstock;
	string searchQuery = String.Empty;
	decimal? priceFrom = 0;
	decimal? priceTo = 10000000;
	if (Request.QueryString["priceMin"]!= null)
	{
		priceFrom = Convert.ToDecimal(Request.QueryString["priceMin"]);
	}
	if (Request.QueryString["priceMax"]!= null)
	{
		priceTo = Convert.ToDecimal(Request.QueryString["priceMax"]);
	}
	int?[] brandId = null;
	string[] brandNames = Request.QueryString.GetValues("brand");
	List<CRequestFilter> filter = new List<CRequestFilter>();
	
	foreach (string fKey in Request.QueryString.AllKeys)
	{
		if (fKey!= null && fKey.StartsWith("f_"))
		{
			int propId = Convert.ToInt32(fKey.Replace("f_", ""));
			string[] vals = Request.QueryString.GetValues(fKey);
			List<int> fVals = new List<int>();
			foreach(string v in vals)
			{
				if (v!= null)
				{
					fVals.Add(Convert.ToInt32(v));
				}
			}
			if (vals!= null)
			{
				filter.Add(new CRequestFilter {KeyId = propId, Values = fVals});
			}
		}
	}
	
	CCatalog catalog = null;
	try
	{
		catalog = UltimaWebService.GetCatalog(1, categoryId, sortFld, sortOrd, pageSize, pageNo,
			searchQuery, brandId, brandNames, priceFrom, priceTo, avail, filter);
	}
	catch {}
	
	
}
<p>GetCatalog Done: @sw.ElapsedMilliseconds.ToString()</p>
	
@{ Html.RenderPartial("CatalogFilter", new ViewDataDictionary { { "catalog", catalog } }); }

@{ Html.RenderPartial("GoodList", new ViewDataDictionary { { "catalog", catalog } }); }
	







